.leafletviewer {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}
.svgviewer__btn-group {
    position: absolute;
    z-index: 9990;
    top: 0;
    right: 0;
}