body {
    background-color: #f6f5f9;
}

.header, .footer {
    background-color: #4abdac;
    padding: 0 1.5rem;
}

.main, .aside {
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}

.main h1, .aside h1 {
    font-size: 1.5rem;
}

.btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    padding: .5rem .75rem;
    cursor: pointer;
}
.btn:hover {
    background-color: #ccc;
}
.btn:active {
    background-color: #aaa;
}

.btn:disabled {
    cursor: initial;
    color: #bcbcbc;
    background-color: #f1f1f1;
}
