body {
    background-color: #f6f5f9;
}

.header, .footer {
    background-color: #4abdac;
    padding: 0 1.5rem;
}

.main, .aside {
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}

.main h1, .aside h1 {
    font-size: 1.5rem;
}